<launch>
  <node pkg="extraction" type="extraction" name="extraction" output="screen">
    <param name="bag_file" value="$(arg bag_file)"/>
    <!-- just run as fast as it can -->
    <param name="limit_playback_speed" value="false" />
    <param name="percentage_start" value="0" />
    <param name="percentage_end" value="100" />
    <param name="objects" value="ibeo/objects" />
    <param name="odometry" value="ibeo/odometry" />
    <param name="resume" value="false" />
    <param name="standalone_run" value="true" />
    <param name="centerline_json_file" value="/model/centerline.json" />
    <param name="objects_json_file" value="/model/objects.json" />
    <param name="centerline_json_file" value="/model/centerline.json" />
    <param name="scenario_json_file" value="/model/scenario.json" />
    <param name="cars_frenet_json_file" value="/model/cars_frenet.json" />
    <param name="ego_frenet_json_file" value="/model/ego_frenet.json" />
    <param name="lanelet_file" value="/model/map.osm" />
  </node>
	<node pkg="feature_model" type="feature_model.py" name="feature_model" output="screen">
    <param name="scenario_json_file" value="/model/scenario.json" />
    <param name="cars_frenet_json_file" value="/model/cars_frenet.json" />
    <param name="ego_frenet_json_file" value="/model/ego_frenet.json" />
    <param name="parameter_json_dir" value="/model/parameters/scenario_data/" />    
  </node>
</launch>

